.loginDan{
    background: url("/static/assets/image/paatern.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
    width: 100%;
    overflow-y: hidden; 
    overflow-x: hidden;
    position: fixed;
    padding: 2px .2rem;


}
.loginlogo{
    z-index: 2;
    padding: 69% 23%;
    color:rgba(0,60,136,0.8);
}
.buttonDan{
    width: 100%;
    background-color: unset;
    background-color: rgba(0, 60, 136, 0.9);
}
