activate
*.swp
__pycache__
.vscode/

backend/**/*.dev.html
frontend/**/*.dev.html
govorg/**/*.dev.html


main/settings/dev.py
main/settings/prod.py
main/settings/test.py


geoportal_app/static/dist_dev

geoportal_app/datas/geojson/*
geoportal_app/datas/gml/*
geoportal_app/datas/shp/*

geoportal_app/media/DejaVuSansCondensed.cw127.pkl
geoportal_app/media/DejaVuSansCondensed.pkl

geoportal_app/media/дэд-сан/*
geoportal_app/media/суурь_давхарга/thumbnail_1x/*
geoportal_app/media/суурь_давхарга/thumbnail_2x/*
!geoportal_app/media/дэд-сан/.keep
!geoportal_app/media/суурь_давхарга/thumbnail_1x/.keep
!geoportal_app/media/суурь_давхарга/thumbnail_2x/.keep

geoportal_app/media/legentUrlImage/*
!geoportal_app/media/legentUrlImage/.keep
geoportal_app/media/tseg-ustsan/*
!geoportal_app/media/tseg-ustsan/.keep
geoportal_app/media/tseg-personal-img/*
!geoportal_app/media/tseg-personal-img/.keep
geoportal_app/media/tseg-personal/*
!geoportal_app/media/tseg-personal/.keep
geoportal_app/files/payment/*
!geoportal_app/files/payment/*.csv
!geoportal_app/files/payment/shape
geoportal_app/files/payment/shape/*
!geoportal_app/files/payment/shape/.keep
geoportal_app/files/payment/pdf/*
!geoportal_app/files/payment/pdf/.keep
geoportal_app/files/payment/image/*
!geoportal_app/files/payment/image/.keep
geoportal_app/files/payment/tseg-personal-file/*
!geoportal_app/files/payment/tseg-personal-file/.keep

package-lock.json
node_modules/
yarn.lock

venv
