activate
*.swp
__pycache__


backend/**/*.dev.html
frontend/**/*.dev.html

main/settings/dev.py
main/settings/prod.py

geoportal_app/static/dist_dev

geoportal_app/media/дэд-сан/*
geoportal_app/media/суурь_давхарга/thumbnail_1x/*
geoportal_app/media/суурь_давхарга/thumbnail_2x/*
!geoportal_app/media/дэд-сан/.keep
!geoportal_app/media/суурь_давхарга/thumbnail_1x/.keep
!geoportal_app/media/суурь_давхарга/thumbnail_2x/.keep

package-lock.json
node_modules/
yarn.lock

venv
