Django==3.0.7
django-debug-toolbar==2.1
django-crispy-forms==1.9.1
django-js-asset==1.2.2
Pillow==7.1.2
psycopg2-binary==2.8.5
requests==2.23.0
user-agents==2.1
ua-parser==0.10.0
django-user-agents==0.4.0
cryptography==2.8
pycrypto==2.6.1
pycryptodome==3.6.1
django-easy-audit==1.2.3
pyproj==2.5.0
fpdf==1.7.2
geojson==2.5.0
django-pwa==1.0.10
djangorestframework-jwt==1.11.0
