.fixed-height-b{
    overflow-y: scroll;
    height: calc(87vh - 88px);
    padding-right: 5px;
}

.fixed-height-body{
    background-color: rgb(247, 249, 250, 1);
    background-color: white;
    border-radius: 1px rgb(235, 242, 245, 1);
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
    border: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.fixed-left{
    position: fixed;
    height: calc(75vh - 88px);
}
.smaller{
    font-size: 59%;
    font-weight: 400;
    text-align: center;
    font-weight: bold;
}
.bc-white{
    background-color: white;
    padding-top: 0.76rem;
    padding-right: 0.76rem;
    padding-left: 0.76rem;
    padding-bottom: 0.76rem;
    margin-bottom: 25px;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
}

.role-card {
    min-height: 100%;
    margin-bottom: 25px;
    background-color: rgb(247, 249, 250, 1);
    border-radius: 1px rgb(235, 242, 245, 1);
    /* box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); */
    border: none;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 0;
}

.role-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.role-table-card {
    min-height: 100%;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 1px rgb(235, 242, 245, 1);
    border: none;
    margin-top: -16px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.role-table-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/* switch */

.switch-tree-state{

    width: 46px;
    height: 18px;
    background-color: #fff;
    border-radius: 50px;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    border: #adb5bd solid 1px;
}
.switch-tree-state:hover {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,123,255,1);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,123,255,1);
box-shadow: 0px 0px 11px 0px rgba(0,123,255,1);
}
.switch-tree-state:active {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,123,255,1);
    box-shadow: 0px 0px 11px 0px rgba(0,123,255,1);
}
.switch-all{
    width: 14px;
    height: 14px;
    border-radius: 50px;
    max-width: 33.333%;
}

.switch-one{
    position: relative;
    background-color: #28a745;
    left: 0px;
    animation: switch-one 0.7s 1;
}
@keyframes switch-one {
    0% {left: 30px}
}

.switch-two{
    position: relative;
    background-color: #007bff;
    border-radius: 50px;
    animation: switch-two 1s 1;

}
@keyframes switch-two {
    0% {background-color: white}
}
.switch-tree{
    position: relative;
    background-color: #dc3545;
    right: 0px;
    animation: switch-tree 0.7s 1;
}
@keyframes switch-tree {
    0% {right: 30px;}
}
