.search-bundle {
    width: 100%;
    margin-bottom: auto;
    margin-top: 12px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

@media only screen and (min-width: 1000px) {
    .search-bundle {
      width: 290px;
    }
  }

.search-bundle-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search-bundle .search-bundle-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #034ea2;
    font-size: 14px;
    color: black;
    transition: width 0.4s linear
}

.search-bundle-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #034ea2;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
}

.search-bundle-icon:hover {
    color: #fff !important
}
