.🌍 {
    position: relative;
}

.🌍 > #map{
     width: 100%;
     height: 1000px;
 }

.🌍 > .⚙ {
    position: absolute;
    top: .4rem;
    right: 55px;
    bottom: .4rem;
    background-color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.🌍 > .⚙-toggle{
    position: absolute;
    top: .6rem;
    right: .1rem;
    width: 47px;
    height: 47px;
}
.fa-lg{
    font-size: 40px;
}
.суурь-давхаргууд{
    right: .5rem;
    bottom: .5rem;
    width: 40px;
    height: 40px;
}
.суурь-давхаргууд > .суурь-давхарга{
    display: block;
    width: 8rem;
    height: 4.5rem;
    margin: 1px;
    border-radius: 2px;
    float: right;
    transition: opacity .15s ease-out;
}
.суурь-давхаргууд > .суурь-давхарга.active,
.суурь-давхаргууд:hover > .суурь-давхарга.active:hover,
.суурь-давхаргууд > .суурь-давхарга:hover {
    opacity: 1;
}
.суурь-давхаргууд > .суурь-давхарга,
.суурь-давхаргууд:hover > .суурь-давхарга.active {
    opacity: .7;
}


.ol-full-screen {
    right: .5rem;
    top: 42px;
    width: 47px;
    height: 47px;
}
.ol-full-screen .ol-full-screen-false{
    width: 40px;
    height: 40px;
}
.ol-full-screen .ol-full-screen-true{
    width: 40px;
    height: 40px;
}
.ol-zoom {
    width: 47px;
    height: 87px;
    left: unset;
    right: .5rem;
    top: 84px;
}
.ol-zoom  .ol-zoom-out{
    width: 40px;
    height: 40px;
}
.ol-zoom .ol-zoom-in{
    width: 40px;
    height: 40px;
}

.ol-mouse-position {
    right: 4rem;
    background: rgba(0,60,136,0.3);
    border-radius: 4px;
    padding: 2px .2rem;
    font-size: smaller;
    color: #eee;
    text-align: center;
    width: 8.8rem;
    min-height: 1rem;
}
