{% extends "layout.html" %}
{% load static %}
{% block content %}

    <div class="main-content">
        <div class="container">
            <form action="/dictionaryRequest" onsubmit="return validateForm()" method="get"  name="myForm">
                <div class="row">
                    <div class="col-md-12 py-0 my-3">
                        <h5 class="mb-3">Лавлах</h5>

                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-map mr-2" aria-hidden="true"></i>Цэгийн нэр</td>
                                    <td>Газрын бүрхэвч, газар ашиглалт</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Аймаг</td>
                                    <td>Дорноговь</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Сум</td>
                                    <td>Даланжаргалан</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Планшет</td>
                                    <td>G0012</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Уртраг</td>
                                    <td>109 03 43.83379</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Өргөрөг</td>
                                    <td>45 55 24.90433</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>N_UTM</td>
                                    <td>5087383.048</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>E_UTM</td>
                                    <td>349744.265</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Өндөр</td>
                                    <td>1113.268</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Төлбөр</td>
                                    <td>3000₮</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <div class="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1"><i class="fa fa-university mr-2"
                                                aria-hidden="true"></i>ТӨЛБӨР ТӨЛӨХ ХЭРЭГСЭЛ</label>
                                        <select class="form-control" id="selectBank">
                                            <option value="">Банк сонгоно уу?</option>
                                            <option value="tdbm">Худалдаа Хөгжлийн Банк</option>
                                            <option value="khanbank">Хаан Банк</option>
                                            <option value="golomt">Голомт Банк</option>
                                            <option value="statebank">Төрийн Банк</option>
                                            <option value="xacbank">Хас банк</option>
                                            <option value="capitronbank">Капитрон банк</option>
                                            <option value="creditbank">Кредит банк</option>
                                            <option value="ubbank">Улаанбаатар хотын банк</option>
                                            <option value="erelbank">Ариг банк</option>
                                            <option value="nibank">Үндэсний хөрөнгө оруулалтын банк</option>
                                            <option value="chinggisbank">Чингис хаан банк</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="exampleFormControlSelect1"><i class="fa fa-credit-card mr-2"
                                                aria-hidden="true"></i>КАРТНЫ ДУГААР</label>
                                        <input name="cardNumber" id="cardNumber" class="form-control"
                                            placeholder="КАРТНЫ ДУГААР" />

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="exampleFormControlSelect1"><i class="fa fa-user mr-2"
                                                aria-hidden="true"></i>КАРТНЫ НЭР</label>
                                        <input name="cardName" id="cardName" class="form-control"
                                            placeholder="КАРТНЫ НЭР" />

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1"><i class="fa fa-calendar mr-2"
                                                aria-hidden="true"></i>ДУУСАХ ОГНОО</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select class="form-control" id="selectMonth">
                                                    <option value="">САР сонгоно уу?</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                </select>

                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control" id="selectYear">
                                                    <option value="">ЖИЛ сонгоно уу?</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">

                                        <label for="exampleFormControlSelect1"><i class="fa fa-key mr-2"
                                                aria-hidden="true"></i>CVC/CVV</label>

                                        <input name="aaa" class="form-control" id="cvvInput" placeholder="CVC/CVV" />
                                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>


                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a href="#" class="text-center mt-3" data-toggle="modal" data-target="#CVV"><i
                                            class="fa fa-question-circle mt-4" style="font-size: 28px;"
                                            aria-hidden="true"></i></a>
                                    <div class="modal fade" id="CVV" tabindex="-1" role="dialog"
                                        aria-labelledby="CVVLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title" id="exampleModalLabel"><i
                                                            class="fa fa-shopping-cart mr-2"
                                                            aria-hidden="true"></i>CVC/CVV</h6>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="https://m.egolomt.mn/billingnew/Styles/img/cvvnumber.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1"><i class="fa fa-info-circle mr-2"
                                                aria-hidden="true"></i>ОНЛАЙН ХУДАЛДАА ҮЙЛЧИЛГЭЭНИЙ НӨХЦӨЛ</label>
                                        <div
                                            style="border: 1px solid #eaeaea;padding: 25px;background-color: #fff;margin-bottom: 1.25rem;border-radius: 8px;">
                                            <div class="container ng-binding" ng-bind-html="ctrl.term"
                                                style="height: 370px; overflow-y: auto;">
                                                <p><strong>ҮЙЛЧИЛГЭЭНИЙ НӨХЦӨЛ</strong></p>
                                                <p><strong>Ерөнхий заалт</strong></p>
                                                <ul>
                                                    <li>ГЗБГЗЗГ-ийн бүтээгдэхүүн үйлчилгээ, худалдааны албан ёсны
                                                        вэбсайт бөгөөд энэхүү журам нь уг
                                                        вэбсайтаас үйлчилгээ авах, худалдаа хийхэд үүсэх харилцааг
                                                        зохицуулахад оршино.</li>
                                                    <li>Энэхүү журам нь Монгол улсын иргэн ГЗБГЗЗГ-ийн вэбсайтаар
                                                        үйлчилгээ
                                                        авах,
                                                        худалдаа хийхээс өмнө хүлээн зөвшөөрч, баталгаажуулсны үндсэн
                                                        дээр
                                                        хэрэгжинэ.</li>
                                                </ul>
                                                <p><strong>Вэбсайт түүний үйл ажиллагаа</strong></p>
                                                <p><strong><u>Ерөнхий</u></strong></p>
                                                <ul>
                                                    <li>Геопортал вэбсайт нь тогтмол үйл ажиллагаатай байж, байнга
                                                        шинэчлэгдэн, ГЗБГЗЗГ-ийн сүүлийн үеийн өгөгдлөөр
                                                        онлайнаар үйлчилгээг иргэнд үзүүлэхэд
                                                        чиглэсэн зорилго, бүтэцтэй байна.</li>
                                                    <li>Геопортал&nbsp;нь өдөр бүр 24 цагаар олон нийтэд нээлттэй
                                                        ажиллана.</li>
                                                    <li>Вэбсайттай холбоотой болон шинэ үйлчилгээ, бараа бүтээгдэхүүний
                                                        талаарх санал гомдлоо&nbsp;<a
                                                            href="mailto:contact@gazar.gov.mn">contact@gazar.gov.mn</a>-рүү
                                                        и-мэйл илгээн шийдвэрлүүлж болно.</li>
                                                    <li>Хэрэглэгчээс гарсан гомдол, маргаантай
                                                        асуудлыг&nbsp;Геопортал&nbsp;вэбсайтын үйлчилгээний журам болон
                                                        компанийн дотоод журам, Монгол улсын хууль тогтоомжийн дагуу
                                                        шийдвэрлэнэ.</li>

                                                    <li>Хэрэглэгч нэвтрэх нэр, нэвтрэх нууц үгээ бусдад алдсанаас үүсэх
                                                        аливаа хариуцлагыг Геопортал хариуцахгүй.</li>
                                                    <li>Иргэн төлбөрөө зөвхөн&nbsp;Геопортал&nbsp;вэб хуудсаар санал
                                                        болгосон&nbsp;банкны картаар
                                                        шилжүүлэн&nbsp;үйлчилгээ авах, худалдаа хийх боломжтой байна.
                                                    </li>
                                                </ul>

                                                <p>ГАЗАР ЗОХИОН БАЙГУУЛАЛТ, ГЕОДЕЗИ, ЗУРАГ ЗҮЙН ГАЗАР</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                            data-com.dwl.browser.user-edited="yes">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Үйлчилгээний нөхцөлийг зөвшөөрч байна
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button  class="btn gp-btn-primary text-center mt-3">
                                <a class="fa fa-shopping-cart mr-2" style="color: white" aria-hidden="true" > Худалдаж авах</a>
                            </button>
                            <script>
                                function validateForm() {


                                    if (document.getElementById("selectBank").value == '') {
                                        alert("Банкаа сонгоно уу");
                                        return false;
                                    }
                                    if (document.getElementById("cardNumber").value == '') {
                                        alert("Картны дугаараа оруулна уу");
                                        return false;
                                    }
                                    if (document.getElementById("cardName").value == '') {
                                        alert("Картны нэрээ оруулна уу");
                                        return false;
                                    }
                                    if (document.getElementById("selectMonth").value == '') {
                                        alert("Дуусах сарыг сонгоно уу");
                                        return false;
                                    }
                                    if (document.getElementById("selectYear").value == '') {
                                        alert("Дуусах жилийг сонгоно уу");
                                        return false;
                                    }
                                    if (document.getElementById("cvvInput").value == '') {
                                        alert("CVC/CVV кодоо оруулна уу");
                                        return false;
                                    }

                                    if (document.getElementById("defaultCheck1").checked == false) {
                                        alert("Үйлчилгээний нөхцөлийг зөвшөөрөөгүй байна");
                                        return false;
                                    }
                                    return true;
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>




{% endblock %}





