{% extends "layout.html" %}
{% load static %}
{% block content %}

    <div class="main-content">
        <div class="container">
            <form action="failed.html" method="POST" onsubmit="return validateForm()" name="myForm">
                <div class="row">

                    <div class="col-md-12 py-0 my-3">
                        <h5 class="mb-3">Лавлах</h5>

                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-map mr-2" aria-hidden="true"></i>Цэгийн нэр</td>
                                    <td>Газрын бүрхэвч, газар ашиглалт</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Аймаг</td>
                                    <td>Дорноговь</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Сум</td>
                                    <td>Даланжаргалан</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Планшет</td>
                                    <td>G0012</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Уртраг</td>
                                    <td>109 03 43.83379</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Өргөрөг</td>
                                    <td>45 55 24.90433</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>N_UTM</td>
                                    <td>5087383.048</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>E_UTM</td>
                                    <td>349744.265</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Өндөр</td>
                                    <td>1113.268</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Төлбөр</td>
                                    <td>3000₮</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="row py-3">

                    <div class="col-md-6 py-0 my-3" style="font-size: 16px;">
                        <h5 class="mb-3">Гүйлгээний төлөв<span style="color: green;">(Амжилттай)</span></h5>
                        <ul class="list-unstyled" style="width: 400px;">
                            <li class="f-nav-item mb-2" style="border-bottom: solid 1px #363636;">
                                Гүйлгээний дугаар | 1008567
                            </li>
                            <li class="f-nav-item mb-2" style="border-bottom: solid 1px #363636;">
                                Мөнгөн дүн | 3,000₮
                            </li>
                            <li class="f-nav-item mb-2" style="border-bottom: solid 1px #363636;">
                                НИЙТ МӨНГӨН ДҮН | 3,000₮
                            </li>
                            <li class="f-nav-item mb-2" style="border-bottom: solid 1px #363636;">
                                Үр дүн | <span style="color: green;">Амжилттай</span>
                            </li>
                        </ul>
                        <button class="btn btn-primary">Хэвлэх</button>
                    </div>
                    <div class="col-md-6 py-0 my-3" style="font-size: 16px;">
                        <h5 class="mb-3">QR Code </h5>
                        <img src="lavlakh.png">
                    </div>
                </div>
            </form>

        </div>
    </div>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <!-- owl -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

{% endblock %}