@media (min-width: 576px) and (max-width: 1200px){
    .wms-floor-scroll {
        height: auto;
    }
    .wms-right-scroll {
        height: auto;
    }
}

@media (min-width: 1200px){
    .wms-floor-scroll {
        overflow-y: scroll;
        height: calc(53vh - 33px);
    }
    /* wms-iin baruun gar taliin heseg */
    .wms-right-scroll {
        overflow-y: scroll;
        height: calc(94vh - 43px);
    }
}