@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: black;
}

a .fa{
    font-size: 20px;
}
a .fa:hover{
  color: rgba(0,60,136,1);
}
a .footerButton{
    font-size: 8px;
}
a .footerButton:hover{
  color: rgba(0,60,136,1);
}

.wmsLayerButtonBack{
    background-color: rgba(0, 60, 136, 0.5);
    border-radius: 4px;
    padding: 1px 1px;
    width: 47px;
    height: 47px;
    top: 20.5%;
    border-radius: 10px 0 0 0px;
    right: 0px;
    position: fixed;


}
.wmsLayerButtonBack:active{
  background-color: rgba(0, 60, 136, 0.7);
}
.wmsLayerButtonBack:hover {
  background-color: rgba(0, 60, 136, 0.7);
}

.wmsLayerButton{
    color: white;
    padding: 8px 8px;

}

.fas{
    font-size: 30px;

}
/* bundle layer screen */
.wmsLayerScreen{
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 25px;
    padding-bottom: 45px;
    padding-right: 20px;
    padding-left: 20px;
    overflow-y: auto;
    width: 100%;
    height: 80%;
    background-color: whitesmoke;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.62);
    box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.62);
}
.wmsLayerScreen .col-10{
  color:rgba(0,60,136,1);
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 12px;
    background-color:rgba(0,60,136,1);
    color: white;
  }
.header .fa {
    font-size: 32px;
}
.header h1 {
  font-size: 18px;
}
.header .input-group {
  top: 16%;
}
.header .geoIconNoText{
  width: 50px;
}

.metaDataScreen{
    overflow: hidden;
}

.wmsLayerScreen img{
  width: 60px;
  height: 60px;
}
.wmsLayerScreen p{
  font-size: 10px;
}

/* back arrow style*/
.backarrow {
  z-index: 1;
  font-size: 35px;
  position: fixed;
  left: 6%;
  top: 20px;
  color: rgba(0, 60, 136, 01);
}
.backarrow:active{
  color: rgba(0, 60, 136, 0.7);

}

.geoIcon{
  width: 56%;
  height: 100%;
}

.xButton {
  position: absolute;
  top: 2%;
  right: -4%;
  font-size: 20px;
  color:rgba(0,60,136,1);
}
hr {
  margin-top: 5px;
  margin-bottom: 16px;
}