{% extends "layout.html" %}

{% load static %}

{% block content %}

<div class="split split7">

    <div class="span2"></div>

    <div class="span3 box fat">

        <h1>Нэвтрэх</h1>

        <form method="POST" action="" class="form big lalign">{% csrf_token %}
            {% if error %}
            <div class="form-error">{{error}}</div>
            {% endif %}

            <div class="form-field">
                <label> Нэвтрэх нэр: </label>
                <div>
                    <input type="text" name="username" class="span" value="{{ username }}"/>
                </div>
            </div>

            <div class="form-field">
                <label>  Нууц үг: </label>
                <div>
                    <input type="password" name="password" class="span"/>
                </div>
            </div>

            <div class="form-field center">
                <input type="submit" value="Нэвтрэх" class="btn big span"/>
            </div>

            <div class="form-field center">
                <a href="{% url "login-api" %}" class="btn big span">Төрийн ДАН системээр нэвтрэх</a>
            </div>

            <div class="form-field ralign">
            </div>
        </form>
    </div>

</div>


{% endblock %}


{% block extra_js %}
<script>
var el_username = document.querySelector('input[name="username"]');
document.querySelector('input[name="' + (el_username.value ? 'password' : 'username') + '"]').focus();
</script>
{% endblock %}
