.🌍 {
    position: relative;
}

.🌍 > #map{
     position: fixed;
     right: 0px;
     width: 100%;
     height:100%;
 }

.🌍 > .⚙ {
    z-index: 2;
    position: fixed;
    width: 100%;
    right: 0px;
    left: 0px;
    height: 80%;
    bottom: -80%;
    background-color: white;
    color: rgba(0, 60, 136, 1);
    padding-bottom: 66px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.62);
    box-shadow: 0px -3px 12px -1px rgba(0,0,0,0.62);
    transition: 0.8s;
}
.🌍 > .⚙-hide {
    transition: 0.8s;
    bottom: 0%;

}
.⚙ .checkbox{
    border-radius: 30px;
}
.⚙ a{
    font-size: 15px;
}

.⚙ hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.🌍 > .⚙-toggle{
    position: fixed;
    top: 200px;
    right: 0px;
    width: 39px;
    height: 39px;
    background-color: rgba(0,60,136,0.5);
    border-radius: 4px;
    padding: 2px;
    border-radius: 0 0 0px 10px;
    text-align: center;
}
.⚙-toggle:active{
    background-color: rgba(0,60,136,0.7);

}
.⚙-toggle:hover{
    background-color: rgba(0,60,136,0.7);

}

.⚙-toggle .fa-lg{
    font-size: 22px;
    color: white;
    padding: 9px 8px;
}
.⚙-toggle .fa{
    font-size: 30;
}

.🌍 > .⚙-location {
    position: fixed;
    top: 350px;
    right: 0px;
    width: 39px;
    height: 39px;
    background-color: rgba(0,60,136,0.5);
    border-radius: 4px;
    padding: 2px;
    border-radius: 10px 0 0px 10px;
    text-align: center;
}

.⚙-location:active{
    background-color: rgba(0,60,136,0.7);

}
.⚙-location:hover{
    background-color: rgba(0,60,136,0.7);

}

.⚙-location .fa-lg {
    font-size: 18px;
    color: white;
    padding: 11px 9px;
}

.⚙-location .fa{
    font-size: 30;
}

.суурь-давхаргууд{
    right: .5rem;
    bottom: 2px;
    position: fixed;
}
.суурь-давхаргууд > .суурь-давхарга{
    display: block;
    width: 4rem;
    height: 2rem;
    overflow: hidden;
    margin: 1px;
    border-radius: 2px;
    float: right;
    transition: opacity .15s ease-out;
}
.суурь-давхаргууд > .суурь-давхарга.active,
.суурь-давхаргууд:hover > .суурь-давхарга.active:hover,
.суурь-давхаргууд > .суурь-давхарга:hover {
    opacity: 1;
}
.суурь-давхаргууд > .суурь-давхарга,
.суурь-давхаргууд:hover > .суурь-давхарга.active {
    opacity: .7;
}


.ol-zoom {
    width:42px;
    height: 84px;
    left: unset;
    right: 0px;
    top: 250px;
    font-size: 25px;
    position: fixed;
    background-color: unset;

}
.ol-zoom:hover {
    background-color: unset;
}

.ol-zoom  .ol-zoom-out{
    width: 39px;
    height: 39px;
    border-radius: 0px 0 0px 10px;

}
.ol-zoom .ol-zoom-in{
    width: 39px;
    height: 39px;
    border-radius: 10px 0 0px 0px;

}

.ol-viewport .ol-mouse-position {
    font-size: 12px;
}
.ol-mouse-position {
    position: fixed;
    top: 2%;
    left: 1rem;
    background: rgba(0,60,136,0.3);
    border-radius: 4px;
    padding: 2px .2rem;
    font-size: smaller;
    color: #eee;
    text-align: center;
    width: 8.8rem;
    min-height: 1rem;
}
.ol-scale-line  {
    bottom: 7%;
    position: fixed;
}
.coordinate-copy-control {
    width: 10rem;
    left: calc(50% - 5rem);
    top: 1rem;
    opacity: 1;
}
.coordinate-copy-control.ol-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s linear, visibility 0s linear .25s;
}

.xButtonLayer {
    font-size: 27px;
    position: absolute;
    right: 9%;
    color: rgba(0,60,136,1);
}
.searchComponent{
    padding: 0px 28px;
}

.sidebarHeader {
    position: fixed;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    left: 14px;
    width: 100%;
    padding-top: 12px;
    -webkit-box-shadow: -2px 10px 6px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 6px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 6px -9px rgba(0,0,0,0.75);
    z-index: 2;
}
.sidebarFooter{
    top: 5%;
    position: absolute;
    overflow-y: scroll;
}

