.scroll-body{
    background-color: white;
}
.scroll-fixed{
    width: 100%;
}
.scroll-fixed .scroll-tbody{
    height: calc( 83vh - 134px - 15px);
    overflow-y:auto;
    width: 100%;
}
.scroll-fixed .scroll-thead, .scroll-tbody, .scroll-tfoot{
    display:block;
}

.scroll-fixed {
    float:left;
}

.scroll-fixed .scroll-thead{
    float:left;
}

.scroll-fixed .scroll-tfoot{
    float:left;
}

.scroll-fixed .scroll-thead{
    padding-right: 17px;
}

.scroll-fixed .scroll-tfoot{
    padding-right: 17px;
}

.scroll-fixed .scroll-tfoot{
    border: none;
}

.scroll-fixed .table-bordered {
    border: 0px solid #dee2e6;
}

.scroll-fixed::-webkit-scrollbar {
    width: 2px;
  }

/* Track */
.scroll-fixed::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
.scroll-fixed::-webkit-scrollbar-thumb {
    background: #484848;
    border-radius: 10px;
}

/* Handle on hover */
.scroll-fixed::-webkit-scrollbar-thumb:hover {
    background: #034ea2;
}

/* scroll data table агуулж буй div class="table_wrapper" table class="table_wrapper_table" */
.table_wrapper{
    overflow-y: scroll;
    height: calc( 90vh - 150px - 15px);
}

.table_wrapper th{
    position: sticky;
    top: 0;
}

.table_wrapper{
    background: white;
}

.tr-hover:hover{
    box-shadow: 0 0 0 3px #f1f3f4;
}

.table_wrapper .table_wrapper_table{
    border-collapse: collapse;
}

.table_wrapper .table_wrapper_table thead th{
    background:  #223035;
    z-index: 1;
    color: #fff;
    top: -1px;
}

.table_wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.table_wrapper::-webkit-scrollbar-track {
    background: #ffffff; 
    margin-top: 41px;
}

.table_wrapper::-webkit-scrollbar-thumb {
    background: #484848; 
    border-radius: 50%px;
}

::-webkit-scrollbar-thumb:hover {
    background: #034ea2; 
  }


/* scroll data table агуулж буй div class="table_wrapper" table class="table_wrapper_table" */
.table_wrapper-100{
    overflow-y: scroll;
    height: calc( 100vh - 144px - 15px);
}

.table_wrapper-100 th{
    position: sticky;
    top: 0;
}

.table_wrapper-100{
    background: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.table_wrapper-100 .table_wrapper_table{
    border-collapse: collapse;
}

.table_wrapper-100 .table_wrapper_table thead th{
    background:  #034ea2;
    color: #fff;
    z-index: 100;
    border-top: 1px;
}
.table_wrapper-100 .table_wrapper_table_saaral thead th{
    background:  #034ea2;
    color: #fff;
    z-index: 100;
    border-top: 1px;
}
.table_wrapper_table_saaral{
    border: 1px solid #e9eaea;
    border-radius: 25px;
}

.table_wrapper-100::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.table_wrapper-100::-webkit-scrollbar-track {
    background: #ffffff; 
    margin-top: 41px;
}

.table_wrapper-100::-webkit-scrollbar-thumb {
    background: #484848; 
    border-radius: 50%px;
}


.table_wrapper-80{
    overflow-y: scroll;
    height: calc(85vh - 88px);
}

.table_wrapper-80 th{
    position: sticky;
    top: 0;
}

.table_wrapper-80{
    background: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.table_wrapper-80 .table_wrapper_table{
    border-collapse: collapse;
}

.table_wrapper-80 .table_wrapper_table thead th{
    background:  #034ea2;
    color: #fff;
    z-index: 100;
    border-top: 1px;
}

.table_wrapper-80 .table_wrapper_table_saaral thead th{
    background:  #034ea2;
    color: #fff;
    z-index: 100;
    border-top: 1px;
}

.table_wrapper_table_saaral{
    border: 1px solid #e9eaea;
    border-radius: 25px;
}

.table_wrapper-80::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.table_wrapper-80::-webkit-scrollbar-track {
    background: #ffffff; 
    margin-top: 41px;
}

.table_wrapper-80::-webkit-scrollbar-thumb {
    background: #484848; 
    border-radius: 50%px;
}
