.org-list-scroll {
    overflow-y: scroll;
    max-height: 45vh;
    /* opacity: 0; */
}

.org-list-scroll::-webkit-scrollbar-track {
    background: #f8f9fa;
}

/* Handle */
.org-list-scroll::-webkit-scrollbar-thumb {
    background: #f8f9fa;
    border-radius: 10px;
}

/* Handle on hover */
.org-list-scroll::-webkit-scrollbar-thumb:hover {
    background: #034ea2;
}
.org-list-scroll:hover::-webkit-scrollbar-thumb {
    background: #A9A9A9;
    border-radius: 10px;
    transition: 0.4s;
}

.суурь-давхаргууд{
    right: .0rem;
    z-index: -100;
    bottom: 2px;
    height: 2.1rem;
    position: absolute;

}

.суурь-давхаргууд > .суурь-давхарга{
    display: block;
    width: 5.6rem;
    height: 1.75rem;
    overflow: hidden;
    margin: 1px;
    border-radius: 2px;
    float: right;
    transition: opacity .15s ease-out;
}

.суурь-давхаргууд > .суурь-давхарга.active,
.суурь-давхаргууд:hover > .суурь-давхарга.active:hover,
.суурь-давхаргууд > .суурь-давхарга:hover {
    opacity: 1;
}

.суурь-давхаргууд > .суурь-давхарга,
.суурь-давхаргууд:hover > .суурь-давхарга.active {
    opacity: .7;
}
