
{% extends "backend/layout/index.html" %}
{% load static %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark gp-bg-primary py-0">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-map mr-2" aria-hidden="true"></i>ГЕОПОРТАЛ</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link active" href="/back/access/">ACCESS</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/back/huulga/">ХУУЛГА</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/back/log/">ЛОГ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/back/">ДЭД САН</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/wms/">WMS</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/байгууллага/">БАЙГУУЛЛАГА (1)</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/суурь-давхарга/">СУУРЬ ДАВХРАГА</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/dev/">ХӨГЖҮҮЛЭЛТ</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/user/">ХЭРЭГЛЭГЧ</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/тохиргоо/">ТОХИРГОО</a>
                        </li>
                    </ul>
                </ul>

            </div>
        </div>
    </nav>
    <div class="main-content">
        <div class="container page-container my-4">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-3">Хандалтын тоогоор график</h5>
                    <div class="accessLine" id="accessLine"></div>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-3">Хандалтын төхөөрөмжийн тоогоор</h5>
                    <div class="accessDonut" id="accessDonut"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="mb-3">Хандалтын лог</h5>
                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <table id="example" class="table table-striped table-bordered dataTable no-footer"
                            style="width:100%" role="grid" aria-describedby="example_info">
                            <thead>
                                <tr role="row">
                                    <th>IP Хаяг</th>
                                    <th>Вэб броузер</th>
                                    <th>
                                        Огноо
                                    </th>
                                    <th>
                                        Статус
                                    </th>
                                    <th>
                                        Хаяг
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-01 11:22:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-01 15:21:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/%D0%B4%D1%8D%D0%B4-%D1%81%D0%B0%D0%BD/6/</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-01 16:42:00</td>
                                    <td>404</td>
                                    <td>https://test1.nsdi.gov.mn/456487</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>FireFox</td>
                                    <td>2020-07-01 18:41:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 09:17:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 09:19:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 09:20:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 10:48:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 10:49:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 10:51:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 12:15:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 12:26:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 12:28:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 12:30:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-02 12:51:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-03 12:22:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-03 13:15:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-03 14:22:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-03 15:46:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-03 15:47:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-03 15:48:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-03 16:49:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-04 09:50:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-04 09:51:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-05 09:12:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-05 09:20:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-05 09:22:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-05 09:22:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-06 09:24:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-06 09:26:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-06 10:01:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-06 10:02:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">127.0.0.1</td>
                                    <td>Chrome</td>
                                    <td>2020-07-06 10:27:00</td>
                                    <td>202</td>
                                    <td>https://test1.nsdi.gov.mn/back/#</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <!-- owl -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }

        $(document).ready(function () {

            const date1 = new Date('05/30/2020');
            const date2 = new Date();
            const diffTime = Math.abs(date2 - date1);
            const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            //for ()

            var access = [];

            /* for (var i = 0; i < diffDays; i++) {

                 access.push({
                     өдөр: date2.addDays(i),
                     хандалт: Math.floor((Math.random() * 10) + 1)
                 });
             }*/
            Morris.Donut({
                element: 'accessDonut',
                data: [{
                        label: "Chrome",
                        value: 50
                    },
                    {
                        label: "Mozilla",
                        value: 10
                    },
                    {
                        label: "Internet Explorer",
                        value: 2
                    },
                    {
                        label: "Бусад",
                        value: 6
                    }
                ]
            });
            new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'accessLine',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: [{
                        year: '2020-07-01',
                        value: 20
                    },
                    {
                        year: '2020-07-02',
                        value: 10
                    },
                    {
                        year: '2020-07-03',
                        value: 5
                    },
                    {
                        year: '2020-07-04',
                        value: 5
                    },
                    {
                        year: '2020-07-05',
                        value: 20
                    },
                    {
                        year: '2020-07-06',
                        value: 3
                    }
                ],
                // The name of the data record attribute that contains x-values.
                xkey: 'year',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['value'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: ['Хандалт']
            });
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "language": {
                    "sEmptyTable": "Хүснэгт хоосон байна",
                    "sInfo": "Нийт _TOTAL_ бичлэгээс _START_ - _END_ харуулж байна",
                    "sInfoEmpty": "Тохирох үр дүн алга",
                    "sInfoFiltered": "(нийт _MAX_ бичлэгээс шүүв)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Дэлгэцэд _MENU_ бичлэг харуулна",
                    "sLoadingRecords": "Ачааллаж байна...",
                    "sProcessing": "Боловсруулж байна...",
                    "sSearch": "Хайлт:",
                    "sZeroRecords": "Тохирох бичлэг олдсонгүй",
                    "oPaginate": {
                        "sFirst": "Эхнийх",
                        "sLast": "Сүүлийнх",
                        "sNext": "Өмнөх",
                        "sPrevious": "Дараах"
                    },
                    "oAria": {
                        "sSortAscending": ": цагаан толгойн дарааллаар эрэмбэлэх",
                        "sSortDescending": ": цагаан толгойн эсрэг дарааллаар эрэмбэлэх"
                    }
                }
            });
        });
    </script>

{% endblock %}