
{% extends "backend/layout/index.html" %}
{% load static %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark gp-bg-primary py-0">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-map mr-2" aria-hidden="true"></i>ГЕОПОРТАЛ</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item ">
                            <a class="nav-link" href="/back/access/">ACCESS</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="/back/huulga/">ХУУЛГА</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/back/log/">ЛОГ</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/back/">ДЭД САН</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/wms/">WMS</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/байгууллага/">БАЙГУУЛЛАГА (1)</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/суурь-давхарга/">СУУРЬ ДАВХРАГА</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/dev/">ХӨГЖҮҮЛЭЛТ</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/user/">ХЭРЭГЛЭГЧ</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/back/тохиргоо/">ТОХИРГОО</a>
                        </li>
                    </ul>
                </ul>

            </div>
        </div>
    </nav>
    <div class="main-content">
        <div class="container page-container my-4">
            <h5 class="mb-3">Гүйлгээний хуулга</h5>
            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table id="example" class="table table-striped table-bordered dataTable no-footer" style="width:100%"
                    role="grid" aria-describedby="example_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-sort="ascending"
                                aria-label="Гүйлгээний дугаар: цагаан толгойн эсрэг дарааллаар эрэмбэлэх"
                                style="width: 312px;">Гүйлгээний дугаар</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-label="Дүн: цагаан толгойн дарааллаар эрэмбэлэх" style="width: 112px;">Дүн</th>
                            <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                aria-label="Огноо: цагаан толгойн дарааллаар эрэмбэлэх" style="width: 259px;">Огноо</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td class="sorting_1">4c26270ecdfc2</td>
                            <td>1.00</td>
                            <td>2020-05-30 11:22:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">4c26270ecdfc2</td>
                            <td>1.00</td>
                            <td>2020-05-31 11:22:00</td>

                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">a286447abaf3i</td>
                            <td>1.00</td>
                            <td>2020-05-31 12:12:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">afbb7f3a2cc1e</td>
                            <td>1.00</td>
                            <td>2020-05-30 10:20:00</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">afbb7f3a2cc1e</td>
                            <td>1.00</td>
                            <td>2020-05-30 10:20:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">d6a32c6a01b6c</td>
                            <td>1.00</td>
                            <td>2020-05-30 10:12:00</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">d6a32c6a01b6c</td>
                            <td>1.00</td>
                            <td>2020-05-31 10:12:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">e286447abaf3i</td>
                            <td>1.00</td>
                            <td>2020-05-30 10:12:00</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1">fde812dbd88e</td>
                            <td>1.00</td>
                            <td>2020-05-30 11:41:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">fde812dbd88e</td>
                            <td>1.00</td>
                            <td>2020-05-31 11:41:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">fde812dbd88e</td>
                            <td>1.00</td>
                            <td>2020-05-31 11:41:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">fde812dbd88e</td>
                            <td>1.00</td>
                            <td>2020-07-03 11:41:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">fde812dbd88e</td>
                            <td>1.00</td>
                            <td>2020-07-02 11:41:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">fde812dbd88e</td>
                            <td>1.00</td>
                            <td>2020-07-01 11:41:00</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1">fde812dbd88e</td>
                            <td>1.00</td>
                            <td>2020-07-01 11:41:00</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <!-- owl -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "language": {
                    "sEmptyTable": "Хүснэгт хоосон байна",
                    "sInfo": "Нийт _TOTAL_ бичлэгээс _START_ - _END_ харуулж байна",
                    "sInfoEmpty": "Тохирох үр дүн алга",
                    "sInfoFiltered": "(нийт _MAX_ бичлэгээс шүүв)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Дэлгэцэд _MENU_ бичлэг харуулна",
                    "sLoadingRecords": "Ачааллаж байна...",
                    "sProcessing": "Боловсруулж байна...",
                    "sSearch": "Хайлт:",
                    "sZeroRecords": "Тохирох бичлэг олдсонгүй",
                    "oPaginate": {
                        "sFirst": "Эхнийх",
                        "sLast": "Сүүлийнх",
                        "sNext": "Өмнөх",
                        "sPrevious": "Дараах"
                    },
                    "oAria": {
                        "sSortAscending": ": цагаан толгойн дарааллаар эрэмбэлэх",
                        "sSortDescending": ": цагаан толгойн эсрэг дарааллаар эрэмбэлэх"
                    }
                }
            });
        });
    </script>

{% endblock %}
