<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ГЕОПОРТАЛ САЙТ</title>
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/animate.min.css" %}">
    <link href="{% static "assets/bootstrap/css/font_awesome.min.css" %}" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <script src="{% static "assets/bootstrap/js/jquery.js" %}"></script>
    <link rel="stylesheet" href="{% static "assets/css/loader.css" %}">
</head>

<body>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>



    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static "assets/bootstrap/js/jquery_3.5.1.slim.min.js" %}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="{% static "assets/bootstrap/js/popper.min.js" %}"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src='{% static "assets/bootstrap/js/a076d05399.js" %}'></script>
    <!-- owl -->
    <script src="{% static "assets/bootstrap/js/owl.carousel.min.js" %}"></script>
    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>
    {% block script %}
    {% endblock %}

</body>

</html>