{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="container page-container my-3">
        <h5 class="mb-3">Лавлах</h5>
        <div class="row">
            <div class="col-md-4">
{#                <ul class="nav flex-column bg-white mb-0">#}
{#                    <li class="nav-item">#}
{#                      <a href="#" class="nav-link text-dark font-italic bg-light">#}
{#                                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>#}
{#                                Лавлах 1#}
{#                            </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                      <a href="#" class="nav-link text-dark font-italic">#}
{#                                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>#}
{#                                Лавлах 2#}
{#                            </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                      <a href="#" class="nav-link text-dark font-italic">#}
{#                                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>#}
{#                                Лавлах 3#}
{#                            </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                      <a href="#" class="nav-link text-dark font-italic">#}
{#                                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>#}
{#                                Лавлах 4#}
{#                            </a>#}
{#                    </li>#}
{#                  </ul>#}
                 <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active text-dark" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-map mr-2" aria-hidden="true"></i>Лавлах - 1</a>
                  <a class="nav-link text-dark" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-map mr-2" aria-hidden="true"></i>Лавлах - 2</a>
{#                  <a class="nav-link text-dark" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa fa-map mr-2" aria-hidden="true"></i>Лавлах - 3</a>#}
{#                  <a class="nav-link text-dark" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-map mr-2" aria-hidden="true"></i>Лавлах< - 4</a>#}
                </div>
            </div>
            <div class="col-md-8">

                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                      <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <td><i class="fa fa-map mr-2" aria-hidden="true"></i>Цэгийн нэр</td>
                              <td>Геодезийн тулгуур сүлжээ</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Аймаг</td>
                              <td>Өвөрхангай</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Сум</td>
                              <td>Арвайхээр</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Планшет</td>
                              <td>G0012</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>X</td>
                              <td>41.5048</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Y</td>
                              <td>47.5048</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Z</td>
                              <td>47.5048</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <td><i class="fa fa-map mr-2" aria-hidden="true"></i>Цэгийн нэр</td>
                              <td>Газрын бүрхэвч, газар ашиглалт</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Аймаг</td>
                              <td>Өмнөговь</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Сум</td>
                              <td>Сэрвэй</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Планшет</td>
                              <td>G0012</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>X</td>
                              <td>41.5048</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Y</td>
                              <td>47.5048</td>
                            </tr>
                            <tr>
                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Z</td>
                              <td>47.5048</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
{#                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">#}
{#                      <table class="table table-bordered">#}
{#                          <tbody>#}
{#                            <tr>#}
{#                              <td>Нэр</td>#}
{#                              <td>Орто зураг</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Уртраг</td>#}
{#                              <td>105.013</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Өргөрөг</td>#}
{#                              <td>47.5048</td>#}
{#                            </tr>#}
{#                          </tbody>#}
{#                      </table>#}
{#                  </div>#}
{#                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">#}
{#                      <table class="table table-bordered">#}
{#                          <tbody>#}
{#                            <tr>#}
{#                              <td>Нэр</td>#}
{#                              <td>Барилга, суурин газар</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Уртраг</td>#}
{#                                #}
{#                              <td>105.013</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                              <td><i class="fa fa-location-arrow mr-2" aria-hidden="true"></i>Өргөрөг</td>#}
{#                              <td>47.5048</td>#}
{#                            </tr>#}
{#                          </tbody>#}
{#                      </table>#}
{#                  </div>#}
                    <form action="{% url 'dictionaryRequest' %}" method="POST">   
                      {% csrf_token %}
                      <div class="">
                            <div class="form-group">
                              <label for="exampleFormControlSelect1"><i class="fa fa-university mr-2" aria-hidden="true"></i>ТӨЛБӨР ТӨЛӨХ ХЭРЭГСЭЛ</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option value="">Банк сонгоно уу?</option>
                                    <option value="tdbm">Худалдаа Хөгжлийн Банк</option>
                                    <option value="khanbank">Хаан Банк</option>
                                    <option value="golomt">Голомт Банк</option>
                                    <option value="statebank">Төрийн Банк</option>
                                    <option value="xacbank">Хас банк</option>
                                    <option value="capitronbank">Капитрон банк</option>
                                    <option value="creditbank">Кредит банк</option>
                                    <option value="ubbank">Улаанбаатар хотын банк</option>
                                    <option value="erelbank">Ариг банк</option>
                                    <option value="nibank">Үндэсний хөрөнгө оруулалтын банк</option>
                                    <option value="chinggisbank">Чингис хаан банк</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">₮</span>
                              </div>
                              <input type="text"  class="form-control" aria-label="amount (to the nearest dollar)" name="amount" value="4500000">
                              <input type="hidden"  class="form-control" name="userId" value={{ user.id }}>
                              <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                              </div>
                            </div>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Гүйлгээ дугаар</span>
                              </div>
                              <input type="text"  class="form-control" aria-label="transectionId (to the nearest dollar)" name="transectionId" value="t3w1scdfa231aid">
                            </div>
                              
                          <p class="text-muted">Худалдан авалт хийхийн тулд интернэт пин кодыг (E code) авсан байх шаардлагатай.</p>
                          <div class="form-group">
                              <label for="exampleFormControlTextarea1"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>ОНЛАЙН ХУДАЛДАА ҮЙЛЧИЛГЭЭНИЙ НӨХЦӨЛ</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4">
                                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                              </textarea>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Үйлчилгээний нөхцөлийг зөвшөөрч байна
                            </label>
                          </div>
                          <input class="btn gp-btn-primary text-center mt-3" type="submit" value="Худалдаж авах"/>
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h6 class="modal-title" id="exampleModalLabel"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Худалдан авалт хийгдсэн мэдээлэл</h6>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <span class="text-success font-weight-bold">Гүйлгээ амжилттай хийгдлээ.</span>
                                  <span>Дэлгэрэнгүй мэдээллийг Е-Мэйл хаягаар илгээсэн.</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
{% endblock %}