<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>ГАЗАР ЗОХИОН БАЙГУУЛАЛТ, ГЕОДЕЗИ, ЗУРАГ ЗҮЙН ГАЗАР - Шилжvvлгийн мэдээлэл </title>
      <STYLE type=text/css>
         BODY{ FONT-SIZE: 12px; FONT-FAMILY: "Tahoma GC", Tahoma, Verdana, Arial, Helvetica, sans-serif; color:#000000;}td{ font-size:12px;}.style2 {FONT-WEIGHT: 600;font-size:16px;}.style12 {padding-left:5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; padding-right:5px; }hr{color:#000000;height:1px;}.asdf {
         color: #666666;
         }
      </STYLE>
   </head>
   <body>
      <center>
         <table>
            <tr>
               <td height="30%" bgcolor="#FFFFFF"></td>
            <tr>
               <td bgcolor="#FFFFFF">
                  <table width="700" cellpadding="0" style="border:1px solid #c0c0c0; padding:20 20 20 20;" cellspacing="0" >
                     <tr>
                        <td >
                           <table cellpadding="0" cellspacing="1" width="100%" height="100%"  border="0">
                              <tr>
                                 <td height="15%" valign="middle">
                                    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                       <tr>
                                          <td class="style2 ">
                                             <img src="https://test1.nsdi.gov.mn/static/assets/image/logo/logo.png" width="135" height="30">
                                          </td>
                                          <td  align="right">Огноо<span class="asdf">/Date</span>:<span class="style12">2020-07-25 00:36:40</span></td>
                                       </tr>
                                       <tr>
                                          <td colspan="2" height="10" ></td>
                                       </tr>
                                       <tr>
                                          <td align="center" colspan="2"  ><span class="style2"> Шилжүүлгийн мэдээлэл<span class="asdf">/Transaction information</span></span><br>
                                             Журналын<span class="asdf">/Journal No:</span><span class="style12">90197051</span>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td colspan="2" height="10" ></td>
                                       </tr>
                                       <tr>
                                          <td  colspan="2"  align="left">Системийн огноо<span class="asdf">/System Date</span>:<span class="style12">2020-07-25</span></td>
                                       </tr>
                                       <tr>
                                          <td colspan="2" height="20">
                                             <hr>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td  style="padding:10 0 10 0;" height="50%">
                                    <table  style="border:1px solid #278b3e; " width="100%" cellspacing="0" cellpadding="2">
                                       <tr>
                                          <td width="5%" rowspan="2" bgcolor="#edf5dc" class="style12" style="border-right:1px solid #278b3e;" >Дт</td>
                                          <td width="30%" bgcolor="#edf5dc"   >Дансны/Картын дугаар <span class="asdf">Account/Card number</span></td>
                                          <td width="29%" bgcolor="#edf5dc" >Нэр<span class="asdf">/Name</span></td>
                                          <td colspan="2" align="center" bgcolor="#edf5dc" style="border-right:1px solid #278b3e; border-left:1px solid #278b3e">Дүн<span class="asdf">/Amount</span></td>
                                          <td width="10%" align="center" bgcolor="#edf5dc" >Ханш<span class="asdf">/Rate</span></td>
                                       </tr>
                                       <tr>
                                          <td bgcolor="#edf5dc"  class="style12">5585656367</td>
                                          <td bgcolor="#edf5dc"  class="style12">БАТСҮХ ТӨГӨЛДӨР</td>
                                          <td width="19%" align="right" bgcolor="#edf5dc"  class="style12" style=" border-left:1px solid #278b3e">4,500.00</td>
                                          <td width="7%" bgcolor="#edf5dc"  class="style12" style="border-right:1px solid #278b3e; ">MNT</td>
                                          <td align="right" bgcolor="#edf5dc"  class="style12">1.00</td>
                                       </tr>
                                       <tr>
                                          <td colspan="6"  align="center" bgcolor="#FFFFFFF" style=" padding-top:5px; padding-bottom:5px;  border-top:1px solid #278b3e; border-bottom:1px solid #278b3e">            <span class="style12">/&nbsp;Дөрвөн мянга таван зуун төгрөг &nbsp;/</span>        </td>
                                       </tr>
                                       <tr>
                                          <td rowspan="4" bgcolor="#edf5dc" class="style12" style="border-right:1px solid #278b3e;" >Kт</td>
                                          <td bgcolor="#edf5dc"  >Банкны дугаар<span class="asdf">/Branch No</span></td>
                                          <td bgcolor="#edf5dc" >Банкны нэр<span class="asdf">/Bank Name</span></td>
                                          <td rowspan="4" align="right" bgcolor="#edf5dc" class="style12" style=" border-left:1px solid #278b3e">4,500.00</td>
                                          <td rowspan="4" bgcolor="#edf5dc" class="style12" style="border-right:1px solid #278b3e;">MNT</td>
                                          <td rowspan="4" align="right" bgcolor="#edf5dc" class="style12">1.00</td>
                                       </tr>
                                       <tr>
                                          <td bgcolor="#edf5dc"  class="style12" >05&nbsp;</td>
                                          <td bgcolor="#edf5dc"  class="style12">ХААН БАНК&nbsp;</td>
                                       </tr>
                                       <tr>
                                          <td bgcolor="#edf5dc" >Дансны/Картын дугаар<span class="asdf"> Account/Card Number</span></td>
                                          <td bgcolor="#edf5dc"  >Нэр<span class="asdf">/Name</span></td>
                                       </tr>
                                       <tr>
                                          <td bgcolor="#edf5dc"  class="style12">5031875696</td>
                                          <td bgcolor="#edf5dc"  class="style12">РАДНААРАГЧАА ТҮВШИНЦЭНГЭЛ</td>
                                       </tr>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td >Гүйлгээний утга<span class="asdf">/Transaction description:</span></td>
                              </tr>
                              <tr>
                                 <td class="style12">Хоол</td>
                              </tr>
                              <tr>
                                 <td height="20" >
                                    <hr>
                                 </td>
                              </tr>
                              <tr>
                                 <td  class="style2" align="center" >Харилцагч танд баярлалаа.<span class="asdf">/Thank you to our customers</span></td>
                              </tr>
                              <tr>
                                 <td  class="style2" align="center" >
                                    <hr>
                                 </td>
                              </tr>
                              <tr>
                                 <td style="padding-top:5px; padding-bottom:5px">Гүйлгээний баримтыг баталгаажуулсан<span class="asdf">/Transaction statement verified:</span></td>
                              </tr>
                              <tr>
                                 <td  style="padding-top:5px; padding-bottom:5px">Салбар, тооцооны тєв<span class="asdf">/Branch, sub-branch:</span></td>
                              </tr>
                              <tr>
                                 <td  style="padding-top:5px; padding-bottom:5px">Гарын їсэг<span class="asdf">/Signature:</span></td>
                              </tr>
                              <tr>
                                 <td  style="padding-top:5px; padding-bottom:5px">Тамга<span class="asdf">/Stamp:</span></td>
                              </tr>
                              <tr>
                                 <td  style="padding-top:5px; padding-bottom:5px">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td  style="padding-top:5px; padding-bottom:5px">&nbsp;</td>
                              </tr>
                              <tr>
                                 <td  style="padding-top:5px; padding-bottom:5px; text-align: center;">
                                    <p align="center">______ Он<span class="asdf">/Year</span> (YYYY) ______ Сар<span class="asdf">/Month</span> (MM) ______ Єдєр<span class="asdf">/Day</span> (DD)</p>
                                 </td>
                              </tr>
                              <!--  <tr><td  class="style19" height="25">Худалдаа хєгжлийн банкны интернет банкны vйлчилгээ</td></tr> --> 
                           </table>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </table>
         <br>

      </center>
   </body>
</html>