{% load static %}
<footer class="footer">
    <div class="top gp-bg-dark">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-5 text-center">
                    <img class="logo-bottom" src="{% static "assets/image/logo/logo-2.png" %}">
                    <p class="mt-2 text-white-50">ГАЗАР ЗОХИОН БАЙГУУЛАЛТ, ГЕОДЕЗИ, ЗУРАГ ЗҮЙН ГАЗАР</p>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-3 gp-text-light-primary">Цэс</h6>
                    <ul class="footer-nav list-unstyled">
                        <li class="f-nav-item mb-2">
                            <a class="f-nav-link text-white-50" href="{% url "page:service" %}">ҮЙЛЧИЛГЭЭ</a>
                        </li>
                        <li class="f-nav-item mb-2">
                            <a class="f-nav-link text-white-50" href="http://192.168.13.95:8080/geonetwork/srv/eng/catalog.search#/home">МЕТА ДАТА</a>
                        </li>
                        <li class="f-nav-item mb-2">
                            <a class="f-nav-link text-white-50" href="{% url "page:help" %}">ТУСЛАМЖ</a>
                        </li>
                        <li class="f-nav-item mb-2">
                            <a class="f-nav-link text-white-50" href="{% url "page:statistics" %}">СТАТИСТИК</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <h6 class="mb-3 gp-text-light-primary">Холбоо барих</h6>
                    <ul class="list-unstyled text-white-50">
                        <li class="mb-2">
                            <span><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Хаяг: Хаяг байршил</span>
                        </li>
                        <li class="mb-2">
                            <span><i class="fa fa-phone mr-2" aria-hidden="true"></i>Утас: 976 99999999</span>
                        </li>
                        <li class="mb-2">
                            <span><i class="fa fa-envelope mr-2" aria-hidden="true"></i>Е-Мэйл: mailhayag.gmail.com </span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom py-3 gp-bg-darker">
        <div class="container text-center">
            <span class="">© Бүх эрх хуулиар хамгаалагдсан ГЕОПОРТАЛ</span>
        </div>
    </div>
</footer>
