<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ CONFIGS.site_title }}</title>
    <link rel="icon" href="{% static "assets/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/jquery.dataTables.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/buttons.dataTables.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/morris.css" %}">
    <!--Full Calendar Css-->
    <link rel="stylesheet" href="{% static "assets/admin/plugins/fullcalendar/css/fullcalendar.min.css" %}">
    <!-- simplebar CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/plugins/simplebar/css/simplebar.css" %}">
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/css/animate.css" %}">
    <!-- Icons CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/css/icons.css" %}">
    <!-- Sidebar CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/css/sidebar-menu.css" %}">
    <!-- Custom Style-->
    <link rel="stylesheet" href="{% static "assets/admin/css/app-style.css" %}">

</head>

<body>

<div id="wrapper">
    {% include "./header.html" %}
    {% block content %}{% endblock %}
    {% block script %}
    {% endblock %}
</div>

<script src="{% static "assets/admin/js/jquery.min.js" %}"></script>
<script src="{% static "assets/admin/js/popper.min.js" %}"></script>

<script src="{% static "assets/admin/plugins/simplebar/js/simplebar.js" %}"></script>
<script src="{% static "assets/admin/js/waves.js" %}"></script>

<script src="{% static "assets/admin/js/sidebar-menu.js" %}"></script>
<script src="{% static "assets/admin/js/app-script.js" %}"></script>

<script src="{% static "assets/admin/js/bootstrap.min.js" %}"></script>

</body>


</html>
