<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ CONFIGS.site_title }}</title>
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/animate.min.css" %}">
    <link href="{% static "assets/bootstrap/css/font-awesome.min.css" %}" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/jquery.dataTables.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/buttons.dataTables.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/morris.css" %}">
</head>

<body>

    {% include "./header.html" %}

    {% block content %}{% endblock %}

    {% include "./footer.html" %}


    {% block script %}
    {% endblock %}

</body>

</html>