.bundle-view-scroll {
    overflow-y: scroll;
    height: 100vh;
    /* opacity: 0; */
}

.bundle-view-scroll::-webkit-scrollbar-track {
    background: #f8f9fa;
}

/* Handle */
.bundle-view-scroll::-webkit-scrollbar-thumb {
    background: #f8f9fa;
    border-radius: 10px;
}

/* Handle on hover */
.bundle-view-scroll::-webkit-scrollbar-thumb:hover {
    background: #034ea2;
}
.bundle-view-scroll:hover::-webkit-scrollbar-thumb {
    background: #A9A9A9;
    border-radius: 10px;
    transition: 0.4s;
}


.bundle-view-right-scroll {
    overflow-y: scroll;
    height: 1000px;
}

.list-group-hover:hover{
    border: 1px solid #00809D;
    color: #00809D;
    font-weight: 600;
}

.list-group-active{
    border: 1px solid #00809D;
    color: #00809D;
}

.list-group-hover:hover .list-group-count{
    transition: 0.5s;
    margin-right: 6px;
    font-weight: 600;
}
.list-group-count{
    transition: 0.5s;
}
