#map{
    width: auto;
    height: calc( 100vh - 85px - 15px);
}

.opac {
    opacity: 0.5;
}

.opac::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.text-sp {
    position: relative;
    color:black;
    line-height: 0.9;
    text-align: center;
}