<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ CONFIGS.site_title }}</title>
    <link rel="icon" href="{% static "assets/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/animate.min.css" %}">
    <link href="{% static "assets/bootstrap/css/font-awesome.min.css" %}" rel="stylesheet">
    <!--Full Calendar Css-->
    <link rel="stylesheet" href="{% static "assets/admin/plugins/fullcalendar/css/fullcalendar.min.css" %}">
    <!-- simplebar CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/plugins/simplebar/css/simplebar.css" %}">
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/css/animate.css" %}">
    <!-- Icons CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/css/icons.css" %}">
    <!-- Sidebar CSS-->
    <link rel="stylesheet" href="{% static "assets/admin/css/sidebar-menu.css" %}">
    <!-- Custom Style-->
    <link rel="stylesheet" href="{% static "assets/admin/css/app-style.css" %}">
</head>
<style>
</style>

<body>
    <div id="wrapper">
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top bg-white">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <span class="pl-3">{{ org.org_name }}</span>
                    </li>
                </ul>
                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="Хайх"></input>
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                        <span class="user-profile"><img src="{% static "assets/image/user.png" %}" class="img-circle" alt="user avatar"></img></span>
                        </a>
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item user-details">
                                    <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="{% static "assets/image/user.png" %}" alt="user avatar"></img></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">{{user.username}}</h6>
                                            <p class="user-subtitle">{{user.email}}</p>
                                        </div>
                                    </div>
                                    </a>
                                    </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a href="{% url "profile:history" %}" class="text-dark"><i class="icon-wallet mr-2"></i>ПРОФАЙЛ</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a href="{% url "gov_secure:logout" %}" class="text-dark"><i class="icon-power mr-2"></i>ГАРАХ</a></li>
                            </ul>
                            {% else %}
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item user-details">
                                    <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="https://via.placeholder.com/110X110" alt="user avatar"></img></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">{{user.last_name}}</h6>
                                            <p class="user-subtitle">{{user.first_name}}</p>
                                        </div>
                                    </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a href="{% url "profile:history" %}" class="text-dark"><i class="icon-wallet mr-2"></i> Account</a></li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><a href="{% url "gov_secure:logout" %}" class="text-dark"><i class="icon-power mr-2"></i> ГАРАХ</a></li>
                            </ul>
                            {% endif %}
                        {% else %}
                            <li class="dropdown-item"><a href="{% url "secure:login" %}"><i class="icon-power mr-2"></i>УДИРДАГЧИЙН НЭВТРЭХ ХЭСЭГ</a></li>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>

</div>
    {% block script %}
    {% endblock %}
    <script src="{% static "assets/admin/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/admin/js/popper.min.js" %}"></script>
    <script src="{% static "assets/admin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/admin/plugins/simplebar/js/simplebar.js" %}"></script>
    <script src="{% static "assets/admin/js/waves.js" %}"></script>
    <script src="{% static "assets/admin/js/sidebar-menu.js" %}"></script>
    <script src="{% static "assets/admin/js/app-script.js" %}"></script>
    <script src="{% static "assets/admin/plugins/vectormap/jquery-jvectormap-2.0.2.min.js" %}"></script>
    <script src="{% static "assets/admin/plugins/vectormap/jquery-jvectormap-world-mill-en.js" %}"></script>
    <script src="{% static "assets/admin/js/index.js" %}"></script>
</body>

</html>
