<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ CONFIGS.site_title }}</title>
    <link rel="icon" href="{% static "assets/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}?v={{ STATIC_VERSION }}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/animate.min.css" %}">
    <link href="{% static "assets/bootstrap/css/font-awesome.min.css" %}" rel="stylesheet">
</head>
<style>
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark gp-bg-primary py-0">
        <div class="container">
            <div class="ml-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <span class="btn gp-btn-primary">
                        Нэвтэрсэн хэрэглэгч: {{user.username}}
                    </span>
                    {% else %}
                    <span class="btn gp-btn-primary">
                        Нэвтэрсэн хэрэглэгч: {{user.last_name|first}}.{{user.first_name}}
                    </span>

                    {% endif %}
                    <a href="{% url "secure:logout" %}" class="btn gp-btn-primary">ГАРАХ</a>
                {% else %}
                <a href="{% url "secure:login" %}" class="btn gp-btn-primary">УДИРДАГЧИЙН НЭВТРЭХ ХЭСЭГ</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container py-3">

        <div class="row h-100">
            <div class="col-md-4">
                <a href="{% url "bundle:all" %}">
                    <img class="logo-top" src="{% static "assets/image/logo/logo.png" %}" alt="">
                </a>
            </div>
            <div class="col-md-4 align-self-center">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control search-input" placeholder="Хайх үг">
                    <div class="input-group-append">
                        <button class="btn gp-outline-primary" type="submit">Хайх</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 align-self-center">
                <div class="login-reg float-right">
                    <div class="ml-auto mt-2 mt-lg-0">
                        {% if user.is_authenticated and user.is_superuser%}
                        {% if not user.is_superuser %}
                        <a href="{% url "secure:logout" %}" class="btn gp-btn-primary">ГАРАХ</a>
                        {% endif %}
                        {% else %}
                        <a href="{% url "secure:loginUser" %}" class="btn gp-btn-primary">БҮРТГҮҮЛЭХ</a>
                        <a href="{% url "secure:loginUser" %}" class="btn gp-btn-primary">НЭВТРЭХ</a>
                        {% endif %}
                    </div>
                    {#              <a href="" class="btn gp-outline-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>#}

                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark gp-bg-primary py-0">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url "bundle:all" %}"><i class="fa fa-map mr-2"
                    aria-hidden="true"></i>ГЕОПОРТАЛ</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                {% with request.resolver_match.url_name as url_name %}
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/covid/">КОВИД-19</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/open-layer/">Нээлттэй өгөгдөл</a>
                    </li>
                    <li class="nav-item {% if url_name == "page:service" %}active{% endif %}">
                        <a class="nav-link" href="{% url "page:service" %}">ҮЙЛЧИЛГЭЭ</a>
                    </li>
                    <li class="nav-item {% if url_name == "meta-data" %}active{% endif %}">
                        <a class="nav-link"
                            href="http://192.168.10.95:8080/geonetwork/srv/mon/catalog.search#/home">МЕТА ДАТА</a>
                    </li>
                    <li class="nav-item {% if url_name == "page:help" %}active{% endif %}">
                        <a class="nav-link" href="{% url "page:help" %}">ТУСЛАМЖ</a>
                    </li>
                    <li class="nav-item {% if url_name == "page:statistics" %}active{% endif %}">
                        <a class="nav-link" href="{% url "page:statistics" %}">СТАТИСТИК</a>
                    </li>

                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "backend:webapp" %}"><i class="fa fa-cog"></i> УДИРДАГЧИЙН
                            ХЭСЭГ</i></a>
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "profile:history" %}"><i class="fa fa-user"></i> ПРОФАЙЛ</i></a>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/payment/history/"><i class="fa fa-shopping-cart"></i> ХУДАЛДАН АВАЛТ</i></a>
                    </li>
                    {% endif %}
                </ul>
                {% endwith %}
            </div>
        </div>
    </nav>
    <div class="main-content">
        {% block content %}

        {% endblock %}
    </div>

    <footer class="footer">
        <div class="top gp-bg-dark">
            <div class="container">
                <div class="row py-4">
                    <div class="col-md-5 text-center">
                        <img class="logo-bottom" src="{% static "assets/image/logo/logo-2.png" %}">
                        <p class="mt-2 text-white-50">{{ CONFIGS.agency_name }}</p>
                    </div>
                    <div class="col-md-3">
                        <h6 class="mb-3 gp-text-light-primary">Цэс</h6>
                        <ul class="footer-nav list-unstyled">
                            <li class="f-nav-item mb-2">
                                <a class="f-nav-link text-white-50" href="{% url "page:service" %}">ҮЙЛЧИЛГЭЭ</a>
                            </li>
                            <li class="f-nav-item mb-2">
                                <a class="f-nav-link text-white-50"
                                    href="http://192.168.10.95:8080/geonetwork/srv/mon/catalog.search#/home">МЕТА
                                    ДАТА</a>
                            </li>
                            <li class="f-nav-item mb-2">
                                <a class="f-nav-link text-white-50" href="{% url "page:help" %}">ТУСЛАМЖ</a>
                            </li>
                            <li class="f-nav-item mb-2">
                                <a class="f-nav-link text-white-50" href="{% url "page:statistics" %}">СТАТИСТИК</a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <h6 class="mb-3 gp-text-light-primary">Холбоо барих</h6>
                        <ul class="list-unstyled text-white-50">
                            <li class="mb-2">
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-map-marker mr-2" aria-hidden="true"></i></div><div class="col-md-11"><span>{{ CONFIGS.agency_contact_address }}</span></div>
                                </div>
                            </li>
                            <li class="mb-2">
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-phone mr-2" aria-hidden="true"></i></div><div class="col-md-11"><span>{{ CONFIGS.agency_contact_phone }}</span></div>
                                </div>
                            </li>
                            <li class="mb-2">
                                <div class="row">
                                    <div class="col-md-1"><i class="fa fa-envelope mr-2" aria-hidden="true"></i></div><div class="col-md-11"><span>{{ CONFIGS.agency_contact_email }}</span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom py-3 gp-bg-darker">
            <div class="container text-center">
                <span class="">{{ CONFIGS.site_footer_text }}</span>
            </div>
        </div>
    </footer>
    <!-- JS, Popper.js, and jQuery -->
    <script src="{% static "assets/bootstrap/js/jquery_3.5.1.slim.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/popper.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- owl -->
    <script src="{% static "assets/bootstrap/js/owl.carousel.min.js" %}"></script>
    <script>
        $(document).ready(function() {
            var owl = $("#owl-demo");

            owl.owlCarousel({
                items : 9, //10 items above 1000px browser width
                dots: false,
                navigation : true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause:true,
                loop:false,
                rewind: true,
                responsive: {
                    0: {
                        items: 3
                    },
                    400: {
                        items: 4
                    },
                    500: {
                        items: 5
                    },
                    600: {
                        items: 6
                    },
                    700: {
                        items: 7
                    },
                    800: {
                        items: 8
                    },
                    900: {
                        items: 9
                    },
                    1000: {
                        items: 9
                    }
                }
            });
        });
    </script>
    {% block script %}
    {% endblock %}

</body>

</html>
